<button (click)="add()">Add</button>
<button (click)="remove()">Remove</button>
<button (click)="isVisible = !isVisible">Togggle Visibility</button>
<button (click)="changeDirection()">Change Direction</button>

<main [@org]="{value: 'try', params: { direction: direction }}" *ngIf="isVisible">
  <div
    class="org"
    *ngFor="let org of (orgs$ | async); trackBy: trackOrg"
    fxLayout="column" fxLayoutAlign="start start"
    [@list]="{value: 'try', params: { direction: direction}}">
    <div>
      <h1>{{ org.title }}</h1>
    </div>
    <ul fxLayout="row" fxLayoutAlign="start start">
      <mat-card *ngFor="let movie of org.movies; trackBy: trackMovie" [@item]="{value: 'try', params: { direction: direction}}">
        <mat-card-header>
          <mat-card-title>Title</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{ movie.name }}
        </mat-card-content>
      </mat-card>
    </ul>
  </div>

</main>
